<app-navbar></app-navbar>
<div class="gnomo-container" *ngIf="gnomo">
    <div class="col-md-3" *ngIf="gnomo.friends">
        <div class="img-gnomo"  *ngIf="gnomo.thumbnail != undefined" [ngStyle]="{'background-image': 'url(' + gnomo.thumbnail + ')'}"></div>
        <div  class="list-group" *ngIf="gnomo.friends.length > 0">
            <h3 class="with-line"><fa-icon [icon]="faUserFriends"></fa-icon> Social Information: Friends</h3>
            <a (click)="goFriend(friend)" class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let friend of gnomo.friends">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{friend}}</h5>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-8">
        <h1 class="text-primary">{{gnomo.name}}</h1>
        <h3 class="with-line"><fa-icon [icon]="faIdCard"></fa-icon> General Information</h3>
        <p>Age: {{gnomo.age}}</p>
        <p>Gender: <fa-icon class="icon-gender" *ngIf="gnomo.gender == 'Masculine'" [icon]="faMale"></fa-icon><fa-icon class="icon-gender" *ngIf="gnomo.gender == 'Feminine'" [icon]="faFemale"></fa-icon></p>
        <p>Hair color: {{gnomo.hair_color}}</p>
        <p>Weight: {{gnomo.weight}}</p>
        <p>Height: {{gnomo.height}}</p>
        <div *ngIf="gnomo.professions">
            <div *ngIf="gnomo.professions.length > 0">
                <h3 class="with-line"><fa-icon [icon]="faBriefcase"></fa-icon> Professional Information</h3>
                <p>Professions: </p>
                <ul>
                    <li *ngFor="let profession of gnomo.professions">{{profession}}</li>
                </ul>
            </div>
        </div>
        
        
    </div>
</div>