.gnomo-container {
    display: flex;
    margin: 30px;
}
.img-gnomo {
    height: 300px;
    background-repeat: no-repeat;
    background-position: top center;
}
.list-group {
    margin: 8px;
}
.with-line {
    border-bottom: 1px solid black;
}

.badge-info {
    margin: 4px;
}

.btn-back {
    width: 120px;
}